*,
html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

*,
::after,
::before {
  box-sizing: inherit;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  color: $blue;
  cursor: pointer;
  text-decoration: none;
}

.content__main {
  overflow: hidden;
  position: relative;
  padding: 1rem 2.3rem;
}
